<div data-controller="dropdown">
  <button
    type="button"
    data-dropdown-target="button"
    data-action="click->dropdown#toggle"
  >
    <%= button %>
  </button>

  <div
    class="hidden z-50"
    data-dropdown-target="menu"
  >
    <div class="rounded-md border border-gray-200 bg-white shadow-lg overflow-hidden">
      <% items.each do |item| %>
        <div class="px-3 py-2 hover:bg-gray-50">
          <%= item %>
        </div>
      <% end %>
    </div>
  </div>
</div>