<%
    # locals: width, height, image

    width = partial.locals[:width]&.to_i
    height = partial.locals[:height]&.to_i
    result_image = (width || height) ? image.variant(resize_to_limit: [width, height]) : image
    # result_image = image
%>

<div data-controller="lazy-image" class="relative aspect-video">
    <div data-lazy-image-target="placeholder" class="absolute inset-0 animate-pulse bg-zinc-200 rounded-t-xl">
    </div>
    <%= image_tag result_image, data: { lazy_image_target: "image", action: "load->lazy-image#loaded" },
        class: "opacity-0 transition-opacity duration-300 w-full h-full" %>
</div>