<div class="container">
    <%= render PizzaFiltersComponent.new(
        pizza_filters: @pizza_filters,
        ingredients: @ingredients) %>
</div>
<div class="grid gap-5 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
    <% @pizzas.each do |pizza| %>
        <%= render PizzaCardComponent.new(
            pizza: pizza,
            sizes: @pizza_sizes,
            doughs: @pizza_doughs,
            crusts: @pizza_crusts) %>
    <% end %>
</div>