<div class="rounded-xl
            border
            border-zinc-200
            bg-white
            space-y-3
            transition-shadow
            overflow-hidden
            flex
            flex-col
            hover:shadow-xl"
>
    <%= image %>
    <div class="px-3 grow">
        <%= title %>
    </div>
    <div class="px-3 mb-3">
    <%= body %>
    </div>
</div>